{% macro button_primary(id, type, text, class, icon, disabled, value) %}
    {% if icon %}
        <button
            {% if disabled %} 
                class="flex items-center px-12 py-1 cursor-default text-gray-800 bg-disabled border-2 border-disabled {{ class }}"
                
            {% else %}
                class="cursor-pointer flex items-center px-12 py-1 text-white bg-primary border border-primary hover:bg-white hover:text-primary transition-colors {{ class }}"
            {% endif %}
            id="{{ id }}"
            type="{{ type }}"
        >
            <i class="pr-2 {{ icon }}"></i><span>{{ text }}</span>
        </button>
    {% else %}
    <button
        {% if disabled %} 
            class="px-12 py-1 text-gray-300 cursor-default bg-disabled border-2 border-disabled {{ class }}"
            disabled
        {% else %}
            class="cursor-pointer px-12 py-1 text-white bg-primary border border-primary hover:bg-white hover:text-primary hover:underline transition-colors {{ class }}"
        {% endif %}
        id="{{ id }}"
        type="{{ type }}"
        >
        {{ text }}
    </button>
    {% endif %}
{% endmacro %}