{% macro search_input(size, id, name, placeholder, class) %}
    <input
        id="{{ id }}"
        class="block w-full pl-7 pr-10 h-10 focus:outline-none border-primary border  {{ class }}"
        type="text"
        name="{{ name }}"
        placeholder="{{ placeholder }}"
    >
{% endmacro %}

{% macro login_input(type, id, name, icon, autocomplete, class, placeholder) %}
    <div class="relative">
        <i class="absolute top-2.5 left-3 {{ icon }}"></i>
        <input
            type="{{ type }}"
            name="{{ name }}"
            id="{{ id }}"
            autocomplete="{{ autocomplete }}"
            class="block w-full pl-9 h-9 bg-secondary border border-secondary focus:outline-none focus:bg-white focus:border-primary {{ class }}"
            placeholder="{{ placeholder }}"
        >
    </div>
{% endmacro %}