{% macro nav_link(endpoint, text, class) %}
    <a href="{{ endpoint }}" class="text-gray-500 font-medium hover:text-gray-900 {{ class }}">
        {{ text }}
    </a>
{% endmacro %}

{% macro nav_link_primary(endpoint, text, class) %}
    <a href="{{ endpoint }}" class="font-medium text-primary-400 hover:text-gray-900 {{ class }}">
        {{ text }}
    </a>
{% endmacro %}

{% macro nav_link_primary_button(endpoint, text, class) %}
    <a href="{{ endpoint }}"
       class="ml-8 p-2 font-medium rounded-md bg-primary-500 text-gray-50 {{ class }}">
        {{ text }}
    </a>
{% endmacro %}

{% macro nav_link_secondary_button(endpoint, text, class) %}
    <a href="{{ endpoint }}"
       class="ml-8 p-2 font-medium rounded-md border border-gray-900 text-gray-700 {{ class }}">
        {{ text }}
    </a>
{% endmacro %}