{% extends "layout.html" %}

{% block title %}
    Details
{% endblock %}

{% block main %}
    {% if media %}
        <div style="background-image: url('https://image.tmdb.org/t/p/original/{{ media.backdrop_path }}'); background-position: 50% 30%; background-size: cover;">
            <h3>{{ media.title }}</h3>
            <img src="https://image.tmdb.org/t/p/w200/{{ media.poster_path }}" alt="No poster">
            {{ media }}
        </div>
        <hr>
    {% else %}
        <div style="color: red">No results</div>
    {% endif %}

     {% if seasons %}
        <h2>Seasons</h2>
        {% for season in seasons %}
            <div>
                <h3>{{ season.title }}</h3>
                <img src="https://image.tmdb.org/t/p/w200/{{ season.poster_path }}" alt="No poster">
                <button onclick="display_episode({{ season.season_number }})">show Episodes</button>
                <div class="season-{{ season.season_number }}" style="display: none">
                <h3>Episodes</h3>
                {% for episode in season.episodes %}
                    <div>
                        <h4>{{ episode.title }}</h4>
                        <img src="https://image.tmdb.org/t/p/w200/{{ episode.still_path }}" alt="No poster">
                        {{ episode }}
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
        <hr>
    {% endif %}
    {% if actors %}
        <h2>Actors</h2>
        {% for actor in actors %}
            <div>
                <h3>{{ actor.name }}</h3>
                <img src="https://image.tmdb.org/t/p/w200/{{ actor.profile_path }}" alt="No poster">
                {{ actor }}
            </div>
        {% endfor %}
        <hr>
    {% endif %}
    {% if videos %}
        <h2>Videos</h2>
        {% for video in videos %}
            {% if video.site == "YouTube" %}
                <div>
                    <a href="https://www.youtube.com/watch?v={{ video.key }}">{{ video.name }} </a>
                </div>
            {% endif %}
        {% endfor %}
        <hr>
    {% endif %}
    {% if recommendations %}
        <h2>Recommendations</h2>
        {% for recommendation in recommendations %}
            <div>
                <img src="https://image.tmdb.org/t/p/w200/{{ recommendation.poster_path }}" alt="No poster">
                {{ recommendation }}
            </div>
            {% if recommendation.media_type == "movie" %}
                <a href="/details/movie/{{ recommendation.id }}" >Details</a>
            {% elif recommendation.media_type == "tv" %}
                <a href="/details/tv/{{ recommendation.id }}" >Details</a>
            {% endif %}
        {% endfor %}
    {% endif %}


{% endblock %}

{% block javascript %}
    <script>
        function display_episode(number){
            const el = document.querySelector('.season-' + number);

            if(el.style.display === 'none'){
                el.style.display = 'block'
            }else{
                el.style.display = 'none'
            }
        }
    </script>
{% endblock %}
