{% extends "layout.html" %}

{% block title %}
    Details
{% endblock %}

{% block main %}
    {% if movie %}
        <div style="background-image: url('https://image.tmdb.org/t/p/original/{{ movie.backdrop_path }}'); background-position: 50% 30%; background-size: cover;">
            <h3>{{ movie.title }}</h3>
            <img src="https://image.tmdb.org/t/p/w200/{{ movie.poster_path }}">
            {{ movie }}
        </div>
    {% else %}
        <div style="color: red">No results</div>
    {% endif %}
    <hr>
    {% if actors %}
        <h2>Actors</h2>
        {% for actor in actors %}
            <div>
                <h3>{{ actor.name }}</h3>
                <img src="https://image.tmdb.org/t/p/w200/{{ actor.profile_path }}">
                {{ actor }}
            </div>
        {% endfor %}
    {% endif %}
    <hr>
    {% if videos %}
        <h2>Videos</h2>
        {% for video in videos %}
            {% if video.site == "YouTube" %}
                <div>
                    <a href="https://www.youtube.com/watch?v={{ video.key }}">{{ video.name }}</a>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <hr>
    {% if recommendations %}
        <h2>Recommendations</h2>
        {% for recommendation in recommendations %}
            <div>
                <img src="https://image.tmdb.org/t/p/w200/{{ recommendation.poster_path }}">
                {{ recommendation }}
            </div>
        {% endfor %}
    {% endif %}


{% endblock %}