{% extends "layout.html" %}
{% from "macros/Forms.html" import search_input with context %}
{% from "macros/Buttons.html" import button_primary with context %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <form action="/search" class="mt-10">
        <div class="flex">
            {{ search_input(id="mainSearch", name="title", class="border-r-0", placeholder="Look for movies, series, actors..." ) }}
            {{ button_primary(text="Search", id="submit_search", type="submit", icon="fas fa-search") }}
        </div>

        <fieldset class="float-left pt-1">
            <input id="movie" type="checkbox" name="filter" value="movie" >
            <label class="px-1 hover:underline cursor-pointer" for="movie">Movies</label>
            <input id="tv" type="checkbox" name="filter" value="tv">
            <label class="px-1 hover:underline cursor-pointer" for="tv">Series</label>
            <input id="person" type="checkbox" name="filter" value="person">
            <label class="px-1 hover:underline cursor-pointer" for="person">People</label>
        </fieldset>
    </form>

    <script type="text/javascript" src="{{ url_for("static", filename="js/search.js") }}"></script>
{% endblock %}