<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>Movie-Search: {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/passirate.css') }}"/>
    <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
        crossorigin="anonymous"
    >
</head>

<body class="min-h-screen relative bg-gray-100">

    {% include "components/header.html" %}

    <main class="container min-h-100 pb-12 w-10/12 m-auto">
        {% block main %}{% endblock %}
    </main>

    {% include "components/footer.html" %}

</body>
</html>