<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>Movie-Search: {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}"/>
</head>

<body class="min-h-screen relative">

    {% include "components/header.html" %}

    <main class="container min-h-100 pb-12 w-10/12 m-auto">
        {% block main %}{% endblock %}
    </main>

    {% include "components/footer.html" %}

    {% block javascript %}{% endblock %}

</body>
</html>