{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}


{% block main %}
    <form action="/login" method="post">
        <div>
            <input autocomplete="off" autofocus name="email" placeholder="Email" type="email">
        </div>
        <div>
            <input name="password" placeholder="Password" type="password">
        </div>
        <button type="submit">Log In</button>
    </form>
    {% if message %}
        <div style="color: red">{{ message }}</div>
    {% endif %}
    <div>
        <a href="/register">Create an account</a>
    </div>
{% endblock %}