{% extends "layout.html" %}
{% from "macros/Forms.html" import login_input with context %}
{% from "macros/Buttons.html" import button_primary with context %}
{% from "macros/Links.html" import nav_link, nav_link_secondary_button with context %}

{% block title %}
    Log In
{% endblock %}


{% block main %}
    <form action="/login" method="post" class="mt-10 w-96 p-10 bg-white m-auto rounded-md shadow-md flex flex-col justify-center">
        {{ login_input(name="email", placeholder="Email", autocomplete="off", type="email", icon="fas fa-at", class="mb-5") }}
        {{ login_input(name="password", placeholder="Password", type="password", icon="fas fa-key") }}

        {% if message %}
            <div class="text-danger mt-5 w-full text-center">{{ message }}</div>
        {% endif %}

        {{ button_primary(type="submit", text="Log In", class="mt-5 mb-3") }}
        {{ nav_link_secondary_button(endpoint="/register", text="Create an account", class="mb-5 text-center") }}
        {{ nav_link(text="Forgot your password ?", endpoint="#", class="text-center") }}
    </form>



{% endblock %}