{% from "macros/Cards.html" import card_search, card_search_people with context %}

{% extends "layout.html" %}

{% block title %}
    Results
{% endblock %}

{% block main %}
    {% if error %}
        <div style="color: red">
            {{ error }}
        </div>
    {% endif %}

    {% if movies %}
        <h2 class="text-primary-900 text-2xl font-bold my-4">Movies</h2>
        {% for movie in movies %}
            {{ card_search("/details/movie/" + movie.id|string,
                movie.title,
                ("https://image.tmdb.org/t/p/w200/" + movie.poster_path) if movie.poster_path is not none else "",
                movie.overview,
                movie.release_date,
                movie.vote_average) }}
        {% endfor %}
        <hr>
    {% endif %}

    {% if series %}
        <h2 class="text-primary-900 text-2xl font-bold my-4">Series</h2>
        {% for serie in series %}

            <div>
                {{ card_search("/details/tv/" + serie.id|string,
                    serie.title,
                    ("https://image.tmdb.org/t/p/w200/" + serie.poster_path) if serie.poster_path is not none else "",
                    serie.overview,
                    serie.release_date,
                    serie.vote_average)
                }}
            </div>
        {% endfor %}
        <hr>
    {% endif %}

    {% if people %}
        <h2 class="text-primary-900 text-2xl font-bold my-4">People</h2>
        <div class="grid grid-cols-5">

            {% for person in people %}
                {{ card_search_people("/details/person/" + person.id|string,
                        person.name,
                        ("https://image.tmdb.org/t/p/w200/" + person.profile_path) if person.profile_path is not none else "",
                        person.popularity)
                    }}
            {% endfor %}
        </div>
        <hr>
    {% endif %}

    {% if not movies and not series and not people %}
        <div style="color: red">No results</div>
    {% endif %}

{% endblock %}